/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
 }
 
 header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
 }
 
 header h3 {
  display: inline;
  margin-right: 20px;
  margin-left: 160px;
 }

 header img {
  display: inline;
  margin-left: 20px;
  margin-right: 160px
}

 main {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .pallet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 90%;
 }
 
 .pallet1 {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: #09090b;
 }
 .pallet2 {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: #09090b;
 }
 .pallet3 {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: #09090b;
 }
 
 .pallet img {
  width: 100%;
  height: auto;
 }
 

 .colors {
  display: flex;
 }

 button {
  border: none;
  background-color: #f1f1f1;
 }

 button img {
  width: 15px;
  height: 15px;
 }

 .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }


footer {
  background-color: #f1f1f1;
  display: flex;
  padding: 4px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0; 
  justify-content: center;
  align-items: center;
 }

 footer p {
  font-size: 12px;
  font-style: normal;
 }
